
/* HEADER */


header{
    padding:0px 7%;
}


header li{
    margin: 0px 25px;
    /* margin-left: 35px; */
}

header .logo-img {
    margin-right:5%;
}

header .header-content{
    display:flex;
}


header a{
    font-family: MyFont;
}




/* BANNER */

.banner{
    background-image: url(images/slider-1-patient.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    
    
} 

.banner-text{
    padding-top: 15%;
    padding-right: 30%;
}

.banner-text h2{
    font-size:50px;
    color:green;
}

.banner-text p{
    font-size:25px;
}

.banner-text a{
    font-size: 20px;
    padding: 10px 20px;
}




/* All-Services */


.All-services{
    padding:20px;
}


.All-services .cards{
    margin:auto;
    
}

.services .card-body{
    text-align:center;
}

.All-services a{
    padding: 10px 20px;
}

.All-services h5{
color: #49a7b7;
}




/* ask-questions */

.ask-questions{
    background:  #49a7b7;
    padding: 10%;
}


.ask-questions .questions img{
   width:100%;
}

 /* .ask-questions .questions .text{
    padding: 0px 26%;

} */

.ask-questions h2{
    font-size: 40px;
    color:#efbf2b;
}

.ask-questions a{
    padding:10px 20px;
    color: #49a7b7;
}

.ask-questions p{
    font-size: 25px;
}



@font-face{
    font-family: MyFont;
    src:url(Oswald-Medium.ttf);
}


@media screen and (max-width: 880px) {
    header .header-content{
        display: block;
    }
}



@media screen and (max-width: 1250px) {
    header li{
        margin: 0px 5px;
    }
    
    header .logo-img {
        margin-right:5px;
    }
} 